@page "/"
@page "/tab"
@inject IJSRuntime JS

<div>
  <div class='dropZoneBG'>
    Drag your file here:
    <div class="dropZone"
         ondragenter="TabFile.Drag.enableHighlight(event)"
         ondragleave="TabFile.Drag.disableHighlight(event)"
         ondragover="TabFile.Drag.allowDrop(event)"
         ondrop="TabFile.executeUpload(event)">
      <div style="display: none;" class="loader">
        <FluentProgressRing />
      </div>
      <i id="fileIcon" class="ms-Icon ms-Icon--PDF pdfLogo" aria-hidden="true"></i>
    </div>
  </div>
  <div class="selectFile">
    <FluentSelect @bind-Value="@selectValue" onchange="TabFile.fileTypeChanged(event)">
      <FluentOption Value=@("PDF")>PDF</FluentOption>
      <FluentOption Value=@("HTML")>HTML</FluentOption>
      <FluentOption Value=@("JPG")>JPG</FluentOption>
    </FluentSelect>
  </div>
  <div class="suppFileTypes">Supported file types: <span id="fileTypes">csv,doc,docx,odp,ods,odt,pot,potm,potx,pps,ppsx,ppsxm,ppt,pptm,pptx,rtf,xls,xlsx</span></div>
  <div class="resultDiv">
    <span id="resultSpan"></span>
  </div>
</div>

@code {
    string? selectValue;
}
